<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API</title>
  <link rel="icon" type="image/png" href="Placeholder">
  <base href="<%= baseURL %>" />
  <link rel="stylesheet" href="./css/styles.css">
  <script type="module" src="./js/index.js"></script>
</head>

<body>
  <%- body %>
  <%- include('../footer/footer') %>
</body>

</html>